<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
    <a> Name: </a>
    <a th:text=" ${account.name}"></a> <br>
    <a> Surname: </a>
    <a th:text=" ${account.surname}"></a> <br>
    <a> Money on Account: </a>
    <a th:text=" ${account.moneyOnAccount} + USD"></a> <br>
    <a> Bank debt: </a>
    <a th:text="${account.debtInBank} + USD"></a> <br>
<!--    <form th:action="@{/accounts/{id}/payout(id = ${account.getId()})}" th:object="${account}" method="post">-->
<!--        <div class = "button">-->
<!--            <input type="submit" value= "Pay out 10 USD">-->
<!--        </div>-->
<!--    </form>-->
    <form th:action="@{/accounts/{id}/takeCredit(id = ${account.getId()})}">
        <div>
            <input type="submit" value= "Take credit">
        </div>
    </form>
    <form th:action= "@{/accounts/{id}/transfer/(id = ${account.getId()})}">
        <div class = "button">
            <input type="submit" value= "Do transfer money">
        </div>
    </form>
    <form th:action="@{/accounts/{id}/payOffTheCredit(id = ${account.getId()})}" th:object="${account}" method="post">
        <div>
            <input type="submit" value="Pay off the credit">
        </div>
    </form>
</body>
</html>