<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<div>
    Welcome on page Paleno Bank
    <br>
    Searcher doesn't work yet
    <br>
    This solution is for that moment
    <br><br>
    <form th:action="@{/accounts/0}">
        <div>
            <input type="submit" value="Log in to 1 user's account">
        </div>
    </form>
    <br><br>
    <form th:action="@{/accounts/1}">
        <div>
            <input type="submit" value="Log in to 2 user's account">
        </div>
    </form>
    <br><br>
    <form th:action="@{/accounts/2}">
        <div>
            <input type="submit" value="Log in to 3 user's account">
        </div>
    </form>
    <br><br>
    <form th:action="@{/accounts/3}">
        <div>
            <input type="submit" value="Log in to 4 user's account">
        </div>
    </form>
</div>
</body>
</html>