<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
    <form th:action="@{/accounts/{id}/payOffTheCreditFinalize/(id=${account.getId()})}" th:object="${newPayOffCredit}" method="post">
        <div>
            Money to pay off:
            <a th:text="${account.debtInBank} + USD"></a>
            <br><br>
            How much money do you want return?
            <input type="text" th:field="*{cashToReturn}">
        </div>
        <br>
        <button type="submit" value="Accept">Accept</button>
    </form>
</body>
</html>
